/******************************************************
 * custom fonts
 *******************************************************/
@font-face {
  font-family: 'open_sanssemibold';
  src: url('../fonts/opensans-semibold-webfont.eot');
  src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/opensans-semibold-webfont.woff') format('woff'),
      url('../fonts/opensans-semibold-webfont.ttf') format('truetype'),
      url('../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo-500';
  src: url('../fonts/museo-500.eot');
  src: url('../fonts/museo-500.eot?#iefix') format('embedded-opentype'),
      url('../fonts/museo-500.woff') format('woff'),
      url('../fonts/museo-500.ttf') format('truetype');
}

/******************************************************
 * group
 *******************************************************/
.group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.group {
  zoom: 1;     /* triggers hasLayout */
}
/******************************************************
 * general
 *******************************************************/
.debug{
  outline:1px solid red;
}

.hidden{
  display: none !important;
}

/******************************************************
 * topband
 *******************************************************/
.topband{
  background: #32323c url(../images/topband-bg.png);
  padding: 70px 0 0;
}

/******************************************************
 * panel
 *******************************************************/
.panel {
  padding: 70px 0;
}

.panel-button-block{
  text-align:center;
}

.panel-title,
.panel-description {
  text-align:center;
}

.panel-title {
  font-family: Museo-500, sans-serif;
}

.panel-description{

}

.panel-title > a {
  text-decoration: none;
}

.panel-title > a:hover {
  text-decoration: underline;
}

.panel-description{
  margin-bottom: 0;
}

.panel-description + .panel-button-block{
  margin-top: 40px;
}

/******************************************************
 * featured course
 *******************************************************/
.featured-course-title > a{
  color: #fff;
}

.featured-course-description{
  color: #adb0c3;
}

/******************************************************
 * attendees
 *******************************************************/
@-webkit-keyframes faces{
  from { background-position: 0 0;}
  to { background-position: -2000px 0;}

}

@-moz-keyframes faces{
  from { background-position: 0 0;}
  to { background-position: -2000px 0;}

}

@-ms-keyframes faces{
  from { background-position: 0 0;}
  to { background-position: -2000px 0;}

}

@keyframes faces{
  from { background-position: 0 0;}
  to { background-position: -2000px 0;}

}

.attendees{
  background: #262626 url(../images/faces.jpg) repeat-x;
  height: 400px;
  -webkit-animation: faces 60s linear infinite;
     -moz-animation: faces 60s linear infinite;
      -ms-animation: faces 60s linear infinite;
          animation: faces 60s linear infinite;

  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.attendees-title{
  color: #fff;
}
.attendees-description{
  color: #a9a8a7;
}
/******************************************************
 * info
 *******************************************************/
.info-title{
  color:#000;
}

.info-description{
  color:#777;
  margin-bottom: 50px;
}

.info-details{
  background: center top no-repeat;
  text-align: center;
  float:left;
  padding-top: 104px;
}

.info-details:before{
  content: "";
  display: inline-block;
  width: 104px;
  height: 104px;
  background: url(../images/sprite.png) no-repeat;
}

.info-details.instructor:before {
  background-position: 0 0;
}
.info-details.downloads:before {
  background-position: -104px 0;
}
.info-details.discussion:before {
  background-position: -208 0;
}

.info-details-description{
  color: #777;
}
/******************************************************
 * grid
 * tam colum = 54
 * tam margin = 30
 * colums * tam colum + colum margin * tam margin
 *******************************************************/
.m1{
  margin-left:30px;
}

.c12{
  width: 978px;
}

.c10{
  width: 810px;
}

.c8{
  width: 642px;
}

.c4{
  width: 306px;
}

.s2{
  margin-left: 168px;
}

/******************************************************
 * layout
 *******************************************************/
.container{
  margin: 0 auto;
}

/******************************************************
 * main header
 *******************************************************/
.main-header{
  position:relative;
}

/******************************************************
 * main nav
 *******************************************************/
.main-nav{
  position: absolute;
  right:0;
  top:5px;
}

.main-nav-link{
  color: #fff;
  /*-webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  transition: all .4s ease-out;*/
  -webkit-transition: color .4s ease-out;
     -moz-transition: color .4s ease-out;
          transition: color .4s ease-out;

  /*-webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
          transform: rotate(90deg);*/
}

.main-nav-link:hover {
  color: #feea5d;
}

.main-nav-item{
  margin-left: 15px;
}

/******************************************************
 * text formating
 *******************************************************/
.upper-link{
  font-family: open_sanssemibold, sans-serif;
  font-size:18px;
  text-decoration: none;
  text-transform: uppercase;
}
/******************************************************
 * flat list
 *******************************************************/
.flat-list{
  list-style: none;
  margin: 0;
  padding: 0;
}

.flat-list > li{
  display: inline;
}

/******************************************************
 * outline button
 *******************************************************/
.outline-button {
  background:transparent;
  border: 3px solid;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;

  -webkit-transition: background-color .2s ease-out;
     -moz-transition: background-color .2s ease-out;
          transition: background-color .2s ease-out;
}

.outline-button.yellow { color: #feea5d;}
.outline-button.yellow:hover {  background-color: transparent;  background-color: rgba(254, 234, 93, .1);}

.outline-button.white { color: #fff;}
.outline-button.white:hover {  background-color: transparent;  background-color: rgba(255, 255, 255, .1);}

/******************************************************
 * main footer
 *******************************************************/
.main-footer {
  padding: 135px 0;
  background-color: #333;
}

.main-footer * {
  color: #adadad;
}

.main-footer-link {
  -webkit-webkit-: color .3s ease-out;
     -moz-webkit-: color .3s ease-out;
          webkit-: color .3s ease-out;
  color: #adadad;
}

.main-footer-link:hover {
  color: #fff;
}

.main-footer-link-item{
  margin-right: 20px;
}
/******************************************************
 * demo
 *******************************************************/
.demo{
  background: #48125f;
}

.demo-title{
  color: #fff;
}

.demo-description{
  color: #b3a7ba;
  margin-bottom: 20px;
}

.demo-video{
  position:relative;
}

.demo-video-play{
  /*position: absolute;*/
}

.demo-video-play-block{
  position: absolute;
  left:0;
  right:0;
  top:250px;
  text-align:center;
}
/******************************************************
 * copyright
 *******************************************************/
.copyright{
  display: block;
  padding-top: 5px;
}
